<div
  class="absolute inset-0 flex items-center justify-center overflow-hidden text-white overscroll-none bg-hexachrome-500"
>
  <div class="flex items-center">
    <img src="/images/auth0.png" class="block w-32 h-auto" />
  </div>
</div>
